name: Release new biodata version

on:
  push:
    tags:
      - '*'

jobs:
  build:
    uses: opencb/java-common-libs/.github/workflows/build-java-app-workflow.yml@develop

  test:
    uses: ./.github/workflows/test-analysis.yml
    needs: build
    secrets: inherit
    with:
      report_context: xetabase
      report_dir: biodata


  deploy-maven:
    uses: opencb/java-common-libs/.github/workflows/deploy-maven-repository-workflow.yml@develop
    needs: test
    secrets: inherit

  release:
    uses: opencb/java-common-libs/.github/workflows/release-github-workflow.yml@develop
    needs: test
